@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.link-web {
  @apply p-4 inline-block hover:bg-green-700 hover:rounded-md hover:scale-110;
}

.link-mobile {
  @apply p-4 border-b hover:bg-green-700 hover:rounded-md hover:scale-110;
}


.input-field {
  @apply border border-gray-600 bg-white rounded-full text-black text-sm h-10 pl-2;
}
